<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.proyecto.tiendeo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo_tiendeo"
        android:label="@string/app_name"
        android:roundIcon="@color/browser_actions_text_color"
        android:supportsRtl="true"
        android:theme="@style/Theme.Projectofinalmv2">
        <activity
            android:name=".EditProductActivity"
            android:exported="true" />
        <activity
            android:name=".AddProductActivity"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="true" />
        <activity
            android:name=".ListBuyUser"
            android:exported="true"/>
        <activity
            android:name=".ListproductsUser"
            android:exported="true"/>
        <activity
            android:name=".Login"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>